header .site-name,header .site-description,header .site-tagline{display:none;}.site{}.fxd-header .site-nav > ul > li > a {font-size:14px;}
.site-nav > ul > li > a{padding-top:0px}.site-nav > ul > li > a{padding-bottom:0px}.post-inner,.page-inner{padding-top:55px;}.post-inner,.page-inner{padding-bottom:40px;}.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{margin-top:0px;}.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{margin-bottom:20px;}section.home-section-1 .section-title{text-align:center ;}
section.home-section-1 .section-title{font-size:64px;font-weight:normal;color:#ffffff;}
section.home-section-1 .magee-heading{font-size:64px;font-weight:normal;color:#ffffff;}
section.home-section-2 .section-title{text-align:center ;}
section.home-section-2 .section-title{font-size:48px;font-weight:normal;color:#666666;}
section.home-section-3 .section-title{text-align:center ;}
section.home-section-3 .section-title{font-size:48px;font-weight:normal;color:#666666;}
section.home-section-4 .section-title{text-align:center ;}
section.home-section-4 .section-title{font-size:36px;font-weight:bold;color:#666666;}
section.home-section-5 .section-title{text-align:center ;}
section.home-section-5 .section-title{font-size:36px;font-weight:bold;color:#666666;}
section.home-section-6 .section-title{text-align:center ;}
section.home-section-6 .section-title{font-size:36px;font-weight:bold;color:#ffffff;}
section.home-section-7 .section-title{text-align:center ;}
section.home-section-7 .section-title{font-size:36px;font-weight:bold;color:#ffffff;}
section.home-section-8 .section-title{text-align:center ;}
section.home-section-8 .section-title{font-size:36px;font-weight:bold;color:#666666;}
section.home-section-9 .section-title{text-align:center ;}
section.home-section-9 .section-title{font-size:36px;font-weight:bold;color:#666666;}
section.home-section-10 .section-title{text-align:center ;}
section.home-section-10 .section-title{font-size:36px;font-weight:normal;color:#666666;}
section.home-section-11 .section-title{text-align:center ;}
section.home-section-11 .section-title{font-size:36px;font-weight:normal;color:#666666;}
section.home-section-12 .section-title{text-align:center ;}
section.home-section-12 .section-title{font-size:36px;font-weight:normal;color:#666666;}
section.home-section-13 .section-title{text-align:center ;}
section.home-section-13 .section-title{font-size:36px;font-weight:normal;color:#666666;}
section.home-section-14 .section-title{text-align:center ;}
section.home-section-14 .section-title{font-size:36px;font-weight:normal;color:#666666;}
section.home-section-15 .section-title{text-align:center ;}
section.home-section-15 .section-title{font-size:36px;font-weight:normal;color:#666666;}

section.home-section-1 .home-section-content,
section.home-section-1 p{font-size:18px;font-weight:normal;color:#ffffff;}
section.home-section-1 .home-section-content{text-align:center}
section.home-section-1 {background:url(http://www.valamodistillery.com/wp-content/uploads/2016/08/kulta.jpg)  no-repeat top left fixed;}

section.home-section-2 .home-section-content,
section.home-section-2 p{font-size:14px;font-weight:normal;color:#666666;}
section.home-section-2 .home-section-content{text-align:left}
section.home-section-2 {padding:30px 0;
  background-color:#eeeeee;}

section.home-section-3 .home-section-content,
section.home-section-3 p{font-size:14px;font-weight:normal;color:#666666;}
section.home-section-3 .home-section-content{text-align:center}
section.home-section-3 {padding:50px 0;
  background-color:#ffffff;}

section.home-section-4 .home-section-content,
section.home-section-4 p{font-size:14px;font-weight:normal;color:#666666;}
section.home-section-4 .home-section-content{text-align:center}
section.home-section-4 {padding:50px 0;
  background:url(http://www.valamodistillery.com/wp-content/uploads/2016/08/punainen.jpg)  no-repeat top left fixed;background-color:#eeeeee;}

section.home-section-5 .home-section-content,
section.home-section-5 p{font-size:14px;font-weight:normal;color:#666666;}
section.home-section-5 .home-section-content{text-align:center}
section.home-section-5 {padding:50px 0;
  background-color:#ffffff;}

section.home-section-6 .home-section-content,
section.home-section-6 p{font-size:14px;font-weight:normal;color:#ffffff;}
section.home-section-6 .home-section-content{text-align:left}
section.home-section-6 {padding:50px 0;
  background:url(http://www.valamodistillery.com/wp-content/uploads/2016/08/risti.jpg)  no-repeat top left fixed;}

section.home-section-7 .home-section-content,
section.home-section-7 p{font-size:14px;font-weight:normal;color:#ffffff;}
section.home-section-7 .home-section-content{text-align:center}
section.home-section-7 {padding:10px 0 50px;
  background-color:#ffffff;}

section.home-section-8 .home-section-content,
section.home-section-8 p{font-size:14px;font-weight:normal;color:#666666;}
section.home-section-8 .home-section-content{text-align:left}
section.home-section-8 {padding:50px 0;
  background:url(http://www.valamodistillery.com/wp-content/uploads/2016/08/lasit.jpg)  no-repeat top left fixed;background-color:#ffffff;}

section.home-section-9 .home-section-content,
section.home-section-9 p{font-size:14px;font-weight:normal;color:#666666;}
section.home-section-9 .home-section-content{text-align:center}
section.home-section-9 {padding:50px 0;
  background-color:#ffffff;}

section.home-section-10 .home-section-content,
section.home-section-10 p{font-size:14px;font-weight:normal;color:#666666;}
section.home-section-10 {background:url(http://www.valamodistillery.com/wp-content/uploads/2015/10/tynnyri.jpg)  no-repeat top left fixed;}

section.home-section-11 .home-section-content,
section.home-section-11 p{font-size:36px;font-weight:normal;color:#666666;}
section.home-section-11 {background-color:#000000;}

section.home-section-12 .home-section-content,
section.home-section-12 p{font-size:36px;font-weight:normal;color:#666666;}
section.home-section-12 {}

section.home-section-13 .home-section-content,
section.home-section-13 p{font-size:36px;font-weight:normal;color:#666666;}
section.home-section-13 {}

section.home-section-14 .home-section-content,
section.home-section-14 p{font-size:36px;font-weight:normal;color:#666666;}
section.home-section-14 {}

section.home-section-15 .home-section-content,
section.home-section-15 p{font-size:36px;font-weight:normal;color:#666666;}
section.home-section-15 {}
.tislaamo {
  margin-top: 240px;
  padding-bottom: 40px;
  width: 600px;
  z-index: 999;
}
.spirit_valitila {
  margin-bottom: 15%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
  text-align: center;
  width: 85%;
}
.spirit {
  margin-bottom: 40px;
  margin-top: 35px;
  width: 80%;
}
section.home-section-1 {
  min-height: 1200px;
}
.one_half {
  /*background-color: rgba(0, 0, 0, 0.5);    muutettu 220517   */
  margin-right: 2%;
  padding-bottom: 3%;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 3%;
  width: 49%;
}
.last {
  clear: right;
  margin-right: 0 !important;
  padding-bottom: 3% !important;
  padding-left: 3% !important;
  padding-right: 3% !important;
  padding-top: 3% !important;
}

.section-title {
  color: #000 !important;
  font-family: "Josefin Sans","Raleway",sans-serif;
  /*text-shadow: 2px 1px #000;    muutettu 220517   */
  text-transform: uppercase;
  font-size: 60px;
  line-height: 82px;
  margin-bottom: 0.67em;
  font-weight:normal !important;
}
.section h1, .section-about h1, .section-services h1, .section-portfolio h1, .section-contact h1, .section-custom h1 {
  font-size: 60px;
  font-style: normal;
  font-weight: 300;
  line-height: 82px;
  margin-bottom: 40px;
  text-align: center;
}
h1 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.67em;
}
h1, h2, h3, h4, h5, h6 {
  clear: both;
}

h1, h2, h3  {
  color: #000000;
  font-family: "Josefin Sans","Raleway",sans-serif;
  /* text-shadow: 2px 1px #000;    muutettu 220517   */
  text-transform: uppercase;
  margin-bottom: 0.67em;
  text-align: center;
}
section.home-section-1, section.home-section-1 p,
section.home-section-2, section.home-section-2 p,
section.home-section-3, section.home-section-3 p,
section.home-section-4, section.home-section-4 p,
section.home-section-5, section.home-section-5 p,
section.home-section-6, section.home-section-6 p,
section.home-section-7, section.home-section-7 p,
section.home-section-8, section.home-section-8 p {
  color: #000000;
  font-size: 17px;
  text-align: left;
  font-family: abel;
  text-align: left;
  /*text-shadow: 1px 1px #000 !important;    muutettu 220517   */
}
section.home-section-1,
section.home-section-2,
section.home-section-3,
section.home-section-4,
section.home-section-5,
section.home-section-6,
section.home-section-7,
section.home-section-8 {
  padding-top: 50px;
}
.home-section-content {
  text-align: center !important;
}

@media (max-width:1024px){
  .section h1.janeausten {
    font-family: "janeaustennosecret";
    font-style: normal !important;
    font-weight: normal !important;
    margin-top: 25% !important;
    text-transform: none !important;
  }
}

@media (max-width:599px){
  input[type=checkbox] {
    /* Double-sized Checkboxes */
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
    padding: 10px;
    margin-right: 20px;
  }

  .checkboxtext {
    /* Checkbox text */
    font-size: 110%;
    display: inline;
  }
  button, input, select, textarea {
    color: #fff;
    font-family: Calibri,sans-serif;
    line-height: 2;
    padding: 8px;
  }
}

@media (max-width:1013px){
  #product_discription {
    margin: auto;
    width: 1120px;
    display: visible;
  }
  #product_discription .one_half {
    margin-right: 2%;
    width: 45%;
  }

  one_half {
    background-color: rgba(0, 0, 0, 0.5);
  }
}
@media (min-width:1014px){
  #product_discription {
    padding: 50px 5%;
    margin: auto;
    width: 1120px;
    display:none;
    background-color:rgba(241,6,240,1.00);
  }

}

@media (min-width:600px) and (max-width:1100px){

  #product_discription  {
    padding: 50px 5%;
    width: 100%;
  }
  #product_discription .one_half {
    margin-right: 2%;
    width: 45%;
  }
}

@media (max-width:699px){

  .one_half  {
    padding: 2%;
    width: 100% !important;
  }
}
.kupoli {
  margin-bottom: 30px;
}
.marker-2 {
  margin-bottom: 30px !important;
}